.container {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.gridItem {
  width: 100%;
}

.observerTarget {
  width: 100%;
  height: 1px;
  margin-top: 20px;
}
