.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 5px;
  width: 100%;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 4px;
  width: 100%;
}

.titleContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2px;
  width: 100%;
}

.icon {
  flex-shrink: 0;
}

.themeTitle {
  font-size: 15px;
  font-weight: 700;
  color: #000000;
  line-height: 1.7;
  width: 100%;
}

.itemsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  width: 100%;
}
