.layout {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  width: 100%;
  max-width: 480px;
  height: 100%;
  background-color: #f5f5f5;
}
