.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.shortcutsContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding-right: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.shortcutsContainer::-webkit-scrollbar {
  display: none;
}
