.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 2px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid #e0e0e0;
  backdrop-filter: blur(4px);
}
